.icon {
  height:100px;
  width:100px;
  position: fixed;
  top:20px;
}

#taskbar {
  position: relative;
  height:120px;
  width:1000px;
  background:#002699;
}

body {
  background-color:  #cce6ff;
}

h2 {
  position: relative;
  left: 50%;
  top:10px;
}

#login
{
  position: relative;
  left: 50%;
  height: 200px;
  width: 500px;
  background-color: #FFFFFF;
}

#logindiv1
{
position:relative;
left:50%;
}
