.icon {
  height:50px;
  width:50px;
  position: relative;
  float:left;
  display:block;
  margin-right: 22%;

}

#houseicon {
  margin-top:1%;
}

#manicon {
  margin-top:1%;
}

#logoicon {
  float:left;
  display:block;
  margin-right: 5%;
top:0px;

}

#taskbar {
  position: relative;
  height:50px;
  width:90%;
    z-index: -1;
  left:50px;
  background:#002699;

  border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 150px;
}


body {
  background-color:  #b9e9ee;
}

h2 {
  position: relative;
  left: 50%;
  top:10px;
}

#login
{
  position: relative;
  left: 50%;
  height: 200px;
  width: 500px;
  background-color: #FFFFFF;
}

#logindiv1
{
position:relative;
left:50%;
}

#welcome {
  margin-left: 50%;
  padding-left: 100px;
}

#button1 {
  display: block;
  float: right;
}
