#addashoe
{
  position: relative;
  left: 47%;
}

.post-form
{
  position: relative;
  left: 25%;
  top: 13%
}

.savebtnbtn-default
{  position: relative;
  left: 20%;
}

#clothes
{
  position: relative;
   left: 28%;
   top: 25px;
 }

#createtitle
{  position: relative;
  left: 33.5%;}

#createashoe
{
  position: relative;
  left: 32%;
  height: 225px;
  width: 500px;
  background-color: #FFFFFF;
}

#addmilestoshoe
{
  position: absolute;
  left: 32%;
  height: 105px;
  width: 500px;
  background-color: #FFFFFF;
}

#shoe_boxes
{
  position: relative;
  left: 32%;
  height: 150px;
  top:9px;
  width: 600px;
  background-color: #FFFFFF;
}

#createtitle1 {
  position: absolute;
  left: 40%;
  top: 25%;
}

#milebutton
{
  position: absolute;
  left: 48%;
  top: 87%;
}
#miles
{
  position: absolute;
  left: 50%;
  top: 87%;
}

.progressbar {
  width: 500px;
height: 30px;
position: absolute;
left: 35%;
top: 80%;
 appearance: none;

}

#mileage_bar {
  position: relative;
  left: 48%;
  font-size: 150%;
  top: 350px;
}

#myclosettitle
{
  position: relative;
  left: 34%;
  top:10px;
}
#addbutton {
  position: absolute;
  left: 0%;

}
#addmiles {
    position: absolute;
    left: 20%;
    font-size:80%;
    top: 100%;
}

#selectbutton {
  position: absolute;
  left: 0%;

}
#select {
    position: absolute;
    left: 23%;
    font-size:80%;
    top: 100%;
}

#table {
  position: absolute;
  left: 40%;
  bottom:20%;
  font-size:120%;
}

.shoeicons
{
position: relative;
left:5%;
top:40px;
}

.icon {
  height:50px;
  width:50px;
  position: relative;
  float:left;
  padding-left: 11%;
  display:block;
  margin-right: 16%;

}

#contentlogin {
  position:relative;
  top:50px;
}

#houseicon {
  margin-top:0.7%;
}

#manicon {
  margin-top:1%;
}

#logoicon {
  float:left;
bottom:17px;
position: relative;

}

#taskbar {
  position: relative;
  margin-top: 2%;
  height:50px;
  width:90%;
    z-index: -1;
  left:2%;
  background:#002699;
  border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#signupbutton
{
  position: relative;
  left:100px;
}

.rlcenter{
  position: relative;
padding-left: 25%;
}

#pls {
  position: relative;
left:26%;
}

body {
    overflow-x: hidden !important;
    background-color:  #b9e9ee;
}

h2 {
  position: relative;
  left: 43%;
  top:20px;
  color: black;
}

#signupcenter {
  position: relative;
top: 8px;
  padding-left: 35%;
}

#login
{
  position: relative;
  left: 32%;
  height: 225px;
  width: 500px;
  background-color: #FFFFFF;
}

#registertab {
  position: relative;
  left: 40px;

}


#usernameetc
{
  position: relative;
  left: 43%;
  top:20px;
}
#stuffinregister
{
  position: relative;
  left:25%;
  top:50px;
}
#register
{
  position: relative;
  left: 32%;
  top:25px;
  height: 400px;
  width: 700px;
  background-color: #FFFFFF;
}

.signupbutton
{
  position: relative;
  left: 20%;
  top:10px;
}

#signupname {

  position: relative;
  left: 28%;
  top:40px;
  color: black;

}

.center {
  position: relative;
  left: 35%;
}

.center2
{
  position: absolute;
  top: 200px;
  left: 35%;
}

#button1 {
  float: right;
  font-size: 40px;
  position: relative;
    top: 200px;
}

#wearehappy{
  position: absolute;
  left: 35%;
  top: 55%;
}

#zoe {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.center1{
  position: absolute;
  left: 30%;
}

#creator{
  position: relative;
    top: 400px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 40px;
}

#zoecolor{
  position: relative;
    top: 200px;
  color: white;
}

.zoeprofile{
  position: relative;
    top: 200px;
  background-color: #000099;
  height: 130px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

#lauracolor{
  position: relative;
    top: 130px;
  color: white;
}

.lauraprofile{
  position: relative;
    top: 130px;
  background-color: #000099;
  height: 130px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

#imancolor{
  position: relative;
    top: 280px;
  color: white;
}

.imanprofile{
  position: relative;
    top: 280px;
  background-color: #000099;
  height: 130px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}
